<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/result.css">
  <title>Weather App</title>
</head>
<body>
  <div class="card">
    <h2><%= city %></h2>
    <h3><%= condition %><span>Wind <%= wind %> <span class="dot">•</span> Humidity <%= humidity %>%</span></h3>
    <h1><%= temp %>°</h1>
       <img src="http://openweathermap.org/img/wn/<%= icon %>@4x.png" alt="weather-icon"> 
      </div>
</body>
</html>

    
